<% provide(:title, @league.name) %>
<h1>Informations</h1>

  <%= render "sidebox"%>
<div class="row">
  <ul class="nav pull-right"  >
    <div class="well">
    <li>
      <h5><b>Location:</b></h5>
      <%@league.locations.each do |location|%>
      <p style="padding-left: 10px "><%= location.name + ' ' %></p>
      <%end%>
    </li>
    <li>
      <h5><b>Discipline:</b></h5>
      <%@league.disciplines.each do |discip|%>
          <p style="padding-left: 10px "><%= discip.name + ' ' %></p>
      <%end%>
    </li>
    <li>
      <h5><b>Date of start:</b></h5>
      <p style="padding-left: 10px "><%= @league.begdate %></p>
    </li>
    <li>
      <h5><b>Expected date of end:</b></h5>
      <p style="padding-left: 10px "><%= @league.expenddate %></p>
    </li>
    <li>
      <h5><b>Founder:</b></h5>
      <p style="padding-left: 10px "><%= @league.admins.first.user.name%></p>
    </li>


    </div>
  </ul>
  <%if !@league.information.nil? %>
  <div class= "well" style=" float: left;width: 50%; margin: 0px 10px 10px 10px ">
    <%= @league.information %>
  </div>
  <%end%>
</div>